//Colors
$iceberg: #73A0D6;
$independence: #3A506B;

//Overrides
$primary: $iceberg;

//Imports
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/layout/_all.sass";
@import "node_modules/bulma/sass/elements/_all.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
@import "node_modules/bulma/sass/components/_all.sass";

.content .section-title {
    padding-bottom: 30px;
}

.centered {
    display: block;
    margin: auto;
}

#large-logo {
    color: $iceberg;
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 30px;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
}

#year {
    font-weight: 300;
}

.sub-info {
    color: $iceberg;
    font-size: 25px;
    margin-bottom: 30px;
}

//Screen size tablet and above
@media (min-width: $tablet) {
    .content {
        margin: auto;
    }
    #large-logo {
        font-size: 90px;
    }
    .justified {
        text-align: justify;
    }
}

//Screen size desktop and above
@media (min-width: $desktop) {
    #large-logo {
        font-size: 100px;
    }
}